In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.model_selection import GridSearchCV

from sklearn.metrics import roc_auc_score ## To compute the auc score
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

from mlxtend.classifier import EnsembleVoteClassifier
from sklearn.naive_bayes import GaussianNB 
from sklearn.ensemble import VotingClassifier

from sklearn.ensemble import GradientBoostingClassifier
from sklearn import model_selection

from sklearn.preprocessing import OneHotEncoder

## Add cross validation

In [38]:
## FOR NORMALIZATION
data = pd.read_csv('train_2008.csv')
y_train = data.pop('target').values
X_train = preprocessing.scale(np.array(data))

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/utils/validation.py:590: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

In [9]:
from sklearn import model_selection

def cross_val(clf, X_train, y_train):
    
    result = model_selection.cross_validate(clf, X_train, y_train, scoring='roc_auc', cv=10, return_train_score=True)
    return result

In [46]:
def process_for_submission(y_pred, title):
    lst = y_pred
    print(len(lst))
    
    indexes = [i for i in range(len(lst))]
    result = []
    result.append(indexes)
    result.append(lst)
    result = np.array(result)
    result = np.transpose(result)

    
    
    #df = df.astype(int)
    df = pd.DataFrame(result, columns=['id', 'target'])
    df["id"] = df["id"].astype("int")
    df["target"] = df["target"].astype("float")
    df = df.to_csv (title + 'submission.csv', index = None, header=True)

    
    return df

In [93]:
process_for_submission(gbm.predict_proba(X_real)[:, 1])

16000
16000

In [14]:
import h2o
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
  Java Version: java version "1.8.0_161"; Java(TM) SE Runtime Environment (build 1.8.0_161-b12); Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)
  Starting server from /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/cv/xqmn6z1x6l39r_575wkj9b780000gn/T/tmpmjwbouc7
  JVM stdout: /var/folders/cv/xqmn6z1x6l39r_575wkj9b780000gn/T/tmpmjwbouc7/h2o_pavanchitta_started_from_python.out
  JVM stderr: /var/folders/cv/xqmn6z1x6l39r_575wkj9b780000gn/T/tmpmjwbouc7/h2o_pavanchitta_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321... successful.

--------------------------  ----------------------------------------
H2O cluster uptime:         01 secs
H2O cluster timezone:       America/Los_Angeles
H2O data parsing timezone:  UTC
H2O cluster version:        3.22.1.3
H2O cluster version age:    14 days, 17 hours and 51 minutes
H2O cluster name:           H2O_from_python_pavanchitta_rsskrp
H2O cluster total nodes:    1
H2O cluster free memory:    3.556 Gb
H2O cluster total cores:    8
H2O cluster allowed cores:  8
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         XGBoost, Algos, AutoML, Core V3, Core V4
Python version:             3.6.2 final
--------------------------  ----------------------------------------

In [104]:
def drop_columns(data):
    drop_columns = []
    for column in data.columns:
        if column != 'target' and data[column].nunique() < 2:
            drop_columns.append(column)
        elif (data[column] == -1).sum() / data.shape[0] > 0.95:
            drop_columns.append(column)
    return data.drop(columns=drop_columns), drop_columns

# To be performed after drop columns is called!!!
def one_hot_encoding(data, categoricals):
    categorical_idx = []
    count = 0
    for column in categoricals:
        if column in data and data[column].nunique() < 10  and (data[column] < 0).sum() == 0:
            count += 1
            #print(data.count_vals)
            categorical_idx.append(data.columns.get_loc(column))
    print(count)
    enc = OneHotEncoder(categorical_features=categorical_idx)
    return enc.fit_transform(data).toarray(), categorical_idx

In [105]:
data = pd.read_csv('train_2008.csv')
data, drop_columns = drop_columns(data)
data = data.drop(columns=['id'])
y_train = data.pop('target').values

## Add one to each of the values in the dataframe in order to get rid of -1 values
data += 1

categoricals =['HURESPLI', 'HUFINAL', 'HUSPNISH', 'HETENURE', 'HEHOUSUT', \
               'HETELHHD', 'HETELAVL', 'HEPHONEO', 'HUTYPEA', 'HUTYPB', 'HUTYPC', \
               'HRINTSTA', 'HRHTYPE', 'HUINTTYP', 'HRLONGLK', 'HUBUS', 'GEREG', \
               'GESTCEN', 'GESTFIPS', 'GTCBSA', 'GTCO', 'GTCBSAST', 'GTMETSTA', \
               'PUPELIG', 'PERRP', 'PRTFAGE', 'PEMARITL', 'PESEX', 'PEAFEVER', \
               'PEAFNOW', 'PEEDUCA', 'PTDTRACE', 'PRDTHSP', 'PUCHINHH', 'PRFAMNUM', \
               'PRFAMREL', 'PRFAMTYP', 'PEHSPNON', 'PRMARSTA', 'PRPERTYP', \
               'PENATVTY', 'PEMNTVTY', 'PEFNTVTY', 'PRCITSHP', 'PUSLFPRX', \
               'PEMLR', 'PUWK', 'PUBUS1', 'PUBUS2OT', 'PUBUSCK1', 'PUBUSCK2', \
               'PUBUSCK3', 'PUBUSCK4', 'PURETOT', 'PUDIS', 'PERET1', 'PUDIS1', \
               'PUDIS2', 'PUABSOT', 'PULAY', 'PEABSRSN', 'PEABSPDO', 'PEMJOT', \
               'PEHRFTPT', 'PEHRUSLT', 'PEHRWANT', 'PEHRRSN1', 'PEHRRSN2', 'PEHRRSN3', \
               'PUHROFF1', 'PUHROT1', 'PEHRAVL', 'PULAYDT', 'PULAY6M', 'PELAYAVL', \
               'PULAYAVR', 'PELAYLK', 'PELAYFTO', 'PULK', 'PELKM1', 'PULKM2', \
               'PULKM3', 'PULKM4', 'PULKM5', 'PULKM6', 'PULKDK1', 'PULKDK2', \
               'PULKPS1', 'PULKPS2', 'PULKPS3', 'PELKAVL', 'PULKAVR', 'PELKLL1O', \
               'PELKLL2O', 'PELKLWO', 'PELKFTO', 'PEDWWNTO', 'PEDWRSN', 'PEDWLKO', \
               'PEDWWK', 'PEDW4WK', 'PEDWLKWK', 'PEDWAVL', 'PEDWAVR', 'PUDWCK1', 'PUJHDP1O', 'PEJHRSN', 'PEJHWANT', 'PRABSREA', 'PRCIVLF', 'PRDISC', 'PREMPHRS', 'PREMPNOT', 'PREXPLF', 'PRFTLF', 'PRJOBSEA', 'PRPTREA', 'PRUNTYPE', 'PRWKSCH', 'PRWKSTAT', 'PRWNTJOB', 'PUJHCK3', 'PUJHCK3', 'PUJHCK4', 'PUJHCK5', 'PUIODP1', 'PUIODP2', 'PUIODP3', 'PEIO1COW', 'PUIO1MFG', 'PEIO2COW', 'PUIO2MFG', 'PUIOCK1', 'PUIOCK2', 'PRIOELG', 'PRAGNA', 'PRCOW1', 'PRCOW2', 'PRCOWPG', 'PRDTCOW1', 'PRDTCOW2', 'PRDTIND1', 'PRDTIND2', 'PRDTOCC1', 'PRDTOCC2', 'PREMP', 'PRMJIND1', 'PRMJIND2', 'PRMJOCC1', 'PRMJOCC2', 'PRMJOCGR', 'PRNAGPWS', 'PRNAGWS', 'PRSJMJ', 'PRERELG', 'PEERNUOT', 'PEERNPER', 'PEERNRT', 'PEERNHRY', 'PEERNLAB', 'PEERNCOV', 'PENLFJH', 'PENLFRET', 'PENLFACT', 'PESCHENR', 'PESCHFT', 'PESCHLVL', 'PRNLFSCH', 'PRWERNAL', 'PRHERNAL', 'HXTENURE', 'HXHOUSUT', 'HXHOUSUT', 'HXTELAVL', 'HXPHONEO', 'PXINUSYR', 'PXRRP', 'PXPARENT', 'PXAGE', 'PXMARITL', 'PXSPOUSE', 'PXSEX', 'PXAFWHN1', 'PXAFNOW', 'PXEDUCA', 'PXRACE1', 'PXNATVTY', 'PXMNTVTY', 'PXFNTVTY', 'PXHSPNON', 'PXMLR', 'PXRET1', 'PXABSRSN', 'PXABSPDO', 'PXMJOT', 'PXMJNUM', 'PXMJNUM', 'PXHRUSL2', 'PXHRFTPT', 'PXHRUSLT', 'PXHRWANT', 'PXHRRSN1', 'PXHRRSN2', 'PXHRACT1', 'PXHRACT2', 'PXHRACTT', 'PXHRRSN3', 'PXHRAVL', 'PXLAYAVL', 'PXLAYLK', 'PXLAYDUR', 'PXLAYFTO', 'PXLKM1', 'PXLKAVL', 'PXLKLL1O', 'PXLKLL2O', 'PXLKLWO', 'PXLKDUR', 'PXLKFTO', 'PXDWWNTO', 'PXDWRSN', 'PXDWLKO', 'PXDWWK', 'PXDW4WK', 'PXDWLKWK', 'PXDWAVL', 'PXDWAVR', 'PXJHWKO', 'PXJHRSN', 'PXJHWANT', 'PXIO1COW', 'PXIO1ICD', 'PXIO1OCD', 'PXIO2COW', 'PXIO2ICD', 'PXIO2OCD', 'PXERNUOT', 'PXERNPER', 'PXERNH1O', 'PXERNWKP', 'PXERNRT', 'PXERNHRY', 'PXERNH2', 'PXERNLAB', 'PXERNCOV', 'PXNLFJH', 'PXNLFRET', 'PXNLFACT', 'PXSCHENR', 'PXSCHFT', 'PXSCHFT', 'PEDIPGED', 'PEHGCOMP', 'PEHGCOMP', 'PEGR6COR', 'PEMS123', 'PXDIPGED', 'PXHGCOMP', 'PXCYC', 'PXGRPROF', 'PXGR6COR', 'PXMS123', 'PEIO1ICD', 'PEIO2ICD', 'PEIO2OCD', 'PRIMIND1', 'PRIMIND2', 'PEAFWHN1', 'PEAFWHN2', 'PEAFWHN3', 'PEAFWHN4', 'PXAFEVER', 'PELNDAD', 'PEDADTYP', 'PEMOMTYP', 'PXLNDAD', 'PXLNMOM', 'PXDADTYP', 'PXMOMTYP', 'PXCOHAB', 'PEDISEAR', 'PEDISEYE', 'PEDISREM', 'PEDISPHY', 'PEDISDRS', 'PEDISOUT', 'PRDISFLG', 'PXDISEAR', 'PXDISEYE', 'PXDISREM', 'PXDISPHY', 'PXDISDRS', 'PXDISOUT', 'PES1', 'PES2', 'PES3', 'PES4', 'PES5', 'PES6', 'PES7', 'PUSCK4']

In [112]:
#data_arr, categorical_idx = one_hot_encoding(data, categoricals)
#data_train_h2o=h2o.H2OFrame(data_arr)
#data_labels_h2o = h2o.H2OFrame(y_train)

real_data = pd.read_csv('test_2008.csv')
real_data = real_data.drop(columns=drop_columns)
real_data = real_data.drop(columns=['id'])
real_data += 1


combined_data = pd.concat([data, real_data])

combined_data, categorical_idx = one_hot_encoding(combined_data, categoricals)

train_data = combined_data[:64667]
train_data = np.column_stack((train_data, y_train[:]))
data_train_h2o = h2o.H2OFrame(train_data)

real_data = combined_data[64667:]
data_test_h2o=h2o.H2OFrame(real_data)

148

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:363: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:385: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [113]:
train_data.shape

(64667, 807)

In [114]:
data_train_h2o[-1]=data_labels_h2o[-1].asfactor()

In [52]:
from h2o.grid.grid_search import H2OGridSearch
from h2o.estimators.gbm import H2OGradientBoostingEstimator
grid_search_gbm = H2OGradientBoostingEstimator(
    
  ## early stopping once the validation AUC doesn't improve by at least 0.01% for 5 consecutive scoring events
  stopping_rounds = 5, stopping_tolerance = 1e-4, stopping_metric = "AUC", 

  ## sample 80% of rows per tree
  sample_rate = 1.0,                                                       

  ## sample 80% of columns per split
  col_sample_rate = 1.0,                                                   

  ## fix a random number generator seed for reproducibility
  seed = 1234,                                                             

  ## score every 10 trees to make early stopping reproducible (it depends on the scoring interval)
  score_tree_interval = 0
) 

ss = data_train_h2o.split_frame(seed = 1)
train = ss[0]
val = ss[1]

hyper_params2 = {
    'learn_rate':[0.01, 0.02],
    'max_depth':[2,4,6],
    'ntrees':[500, 1000, 5000]}

In [53]:
grid = H2OGridSearch(grid_search_gbm, hyper_params2,
                         grid_id='depth_grid',
                         search_criteria={'strategy': "Cartesian"})
#Train grid search
grid.train(x=data_train_h2o.names[:255], 
           y=data_train_h2o.names[255],
           training_frame=train,
           validation_frame=val)

gbm Grid Build progress: |████████████████████████████████████████████████| 100%

In [23]:
grid_sorted = grid.get_grid(sort_by='auc',decreasing=True)

In [38]:
print(grid_sorted.models[0].params['learn_rate'])

{'default': 0.1, 'actual': 0.02}

In [39]:
best_gbm = grid_sorted.models[0]
best_gbm.train(x=data_train_h2o.names[:255],\
            y=data_train_h2o.names[255], training_frame=data_train_h2o, model_id="GBM_Titanic")

gbm Model Build progress: |███████████████████████████████████████████████| 100%

In [42]:
f=best_gbm.predict(test_data=data_test_h2o)

gbm prediction progress: |████████████████████████████████████████████████| 100%

In [43]:
f = f.as_data_frame()

In [47]:
preds = np.array(f['p1'])
process_for_submission(preds, 'h2o_gbm4')

16000

## Train an h2o gbm

In [115]:
from h2o.estimators.gbm import H2OGradientBoostingEstimator

In [116]:
model = H2OGradientBoostingEstimator(## more trees is better if the learning rate is small enough 
  ## here, use "more than enough" trees - we have early stopping
  ntrees = 11000,                                                            

  ## smaller learning rate is better (this is a good value for most datasets, but see below for annealing)
  learn_rate = 0.01,                                                         

  ## early stopping once the validation AUC doesn't improve by at least 0.01% for 5 consecutive scoring events
  stopping_rounds = 15, stopping_tolerance = 1e-5, stopping_metric = "AUC", 

  ## sample 80% of rows per tree
  sample_rate = 1.0,                                                       

  ## sample 80% of columns per split
  col_sample_rate = 1.0,                                                   

  ## fix a random number generator seed for reproducibility
  seed = 1234,                                                             

  ## score every 10 trees to make early stopping reproducible (it depends on the scoring interval)
  score_tree_interval = 0, max_depth=2)

In [ ]:
model.train(x=data_train_h2o.names[:-1],y=data_train_h2o.names[-1], training_frame=data_train_h2o, model_id="GBM_Titanic")

gbm Model Build progress: |██████████████████████████████████████

In [97]:
model

Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  GBM_Titanic


ModelMetricsBinomial: gbm
** Reported on train data. **

MSE: 0.1420315201636264
RMSE: 0.3768706942223372
LogLoss: 0.4408088267564551
Mean Per-Class Error: 0.26439194694648704
AUC: 0.8120471443818764
pr_auc: 0.6180480801632945
Gini: 0.6240942887637528
Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.2942973980627641:

       0      1      Error    Rate
-----  -----  -----  -------  -----------------
0      37784  10368  0.2153   (10368.0/48152.0)
1      5262   11253  0.3186   (5262.0/16515.0)
Total  43046  21621  0.2417   (15630.0/64667.0)

Maximum Metrics: Maximum metrics at their respective thresholds

metric                       threshold    value     idx
---------------------------  -----------  --------  -----
max f1                       0.294297     0.590151  223
max f2                       0.169629     0.704785  296
max f0point5                 0.444237     0.592233  154
max accuracy                 0.489902     0.796681  135
max precision                0.977487     1         0
max recall                   0.0191826    1         397
max specificity              0.977487     1         0
max absolute_mcc             0.34346      0.432222  199
max min_per_class_accuracy   0.257886     0.734258  243
max mean_per_class_accuracy  0.264433     0.735608  239

Gains/Lift Table: Avg response rate: 25.54 %, avg score: 25.54 %

    group    cumulative_data_fraction    lower_threshold    lift      cumulative_lift    response_rate    score      cumulative_response_rate    cumulative_score    capture_rate    cumulative_capture_rate    gain      cumulative_gain
--  -------  --------------------------  -----------------  --------  -----------------  ---------------  ---------  --------------------------  ------------------  --------------  -------------------------  --------  -----------------
    1        0.0100051                   0.830742           3.55253   3.55253            0.907264         0.872413   0.907264                    0.872413            0.0355434       0.0355434                  255.253   255.253
    2        0.0200102                   0.776527           3.3165    3.43452            0.846986         0.803065   0.877125                    0.837739            0.033182        0.0687254                  231.65    243.452
    3        0.0299998                   0.738839           3.27315   3.38078            0.835913         0.756831   0.863402                    0.810798            0.0326975       0.101423                   227.315   238.078
    4        0.0400049                   0.704919           3.03811   3.29508            0.775889         0.721419   0.841515                    0.788445            0.0303966       0.13182                    203.811   229.508
    5        0.0500101                   0.675666           2.98969   3.23399            0.763524         0.689465   0.825912                    0.768642            0.0299122       0.161732                   198.969   223.399
    6        0.100005                    0.569688           2.51072   2.87241            0.6412           0.620162   0.73357                     0.694414            0.125522        0.287254                   151.072   187.241
    7        0.149999                    0.488862           2.16312   2.636              0.552428         0.527546   0.673196                    0.638797            0.108144        0.395398                   116.312   163.6
    8        0.200009                    0.423287           1.86581   2.44342            0.4765           0.455416   0.624014                    0.592944            0.0933091       0.488707                   86.5807   144.342
    9        0.299998                    0.321473           1.48124   2.12273            0.378286         0.369056   0.542113                    0.518323            0.148108        0.636815                   48.1238   112.273
    10       0.400003                    0.247502           1.12862   1.87419            0.288233         0.282497   0.478641                    0.459364            0.112867        0.749682                   12.8619   87.4191
    11       0.500008                    0.191733           0.832538  1.66585            0.212618         0.218118   0.425435                    0.411113            0.0832576       0.83294                    -16.7462  66.5854
    12       0.599997                    0.148428           0.608604  1.48966            0.155428         0.169325   0.380438                    0.370819            0.0608538       0.893794                   -39.1396  48.9664
    13       0.700002                    0.111588           0.459561  1.3425             0.117365         0.129641   0.342855                    0.336364            0.0459582       0.939752                   -54.0439  34.25
    14       0.799991                    0.0802143          0.323377  1.21512            0.0825858        0.0955965  0.310324                    0.306271            0.0323342       0.972086                   -67.6623  21.5122
    15       0.899995                    0.0522266          0.196176  1.1019             0.0501005        0.0659419  0.281409                    0.279566            0.0196185       0.991705                   -80.3824  10.19
    16       1                           0.00791665         0.082951  1                  0.0211845        0.0377711  0.255385                    0.255385            0.00829549      1                          -91.7049  0

Scoring History:

     timestamp            duration           number_of_trees    training_rmse        training_logloss     training_auc        training_pr_auc      training_lift       training_classification_error
---  -------------------  -----------------  -----------------  -------------------  -------------------  ------------------  -------------------  ------------------  -------------------------------
     2019-02-09 19:31:36  0.005 sec          0.0                0.4360775613380598   0.5681745099971205   0.5                 0.0                  1.0                 0.7446147184808326
     2019-02-09 19:31:37  0.632 sec          1.0                0.43563442656836154  0.5671600082640731   0.6979382594686914  0.26757237683195656  2.0295911978717043  0.34564770284689256
     2019-02-09 19:31:37  0.934 sec          2.0                0.4351988981986685   0.5661665070004258   0.7083536739823337  0.27059522899517974  2.0295911978717043  0.38569904278843925
     2019-02-09 19:31:37  1.248 sec          3.0                0.4347716635101305   0.5651948473823301   0.7095461839053715  0.27113341702912835  2.0295911978717043  0.38569904278843925
     2019-02-09 19:31:38  1.611 sec          4.0                0.4343517623597959   0.5642431372398052   0.7083536739823337  0.27059522899517974  2.0295911978717043  0.38569904278843925
---  ---                  ---                ---                ---                  ---                  ---                 ---                  ---                 ---
     2019-02-09 20:26:48  55 min 12.088 sec  10954.0            0.3769072590506658   0.440882875641898    0.8119536456785826  0.6179256169822863   3.552531654750657   0.24169978505265438
     2019-02-09 20:26:52  55 min 16.251 sec  10968.0            0.3768965751723627   0.44086092820704553  0.8119845480481452  0.6179329444703662   3.552531654750657   0.24173071272828492
     2019-02-09 20:26:56  55 min 20.325 sec  10982.0            0.37688518329158444  0.44083707723659527  0.8120109995057029  0.6180074721487793   3.552531654750657   0.24207091716022083
     2019-02-09 20:27:01  55 min 24.564 sec  10997.0            0.3768739894452818   0.4408148155304659   0.8120342430874237  0.6180335300538823   3.552531654750657   0.240988448513152
     2019-02-09 20:27:02  55 min 25.488 sec  11000.0            0.3768706942223372   0.4408088267564551   0.8120471443818764  0.6180480801632945   3.552531654750657   0.24169978505265438

See the whole table with table.as_data_frame()
Variable Importances:

variable    relative_importance    scaled_importance    percentage
----------  ---------------------  -------------------  --------------------
C714        53063.22265625         1.0                  0.34728087338230845
C712        20184.16015625         0.3803794633244468   0.13209851224000763
C8          9347.2666015625        0.17615339087328388  0.06117470343172919
C715        5899.248046875         0.11117394970695703  0.038608586351592866
C710        4731.39697265625       0.08916527748996352  0.030965395442090416
---         ---                    ---                  ---
C766        0.0                    0.0                  0.0
C767        0.0                    0.0                  0.0
C782        0.0                    0.0                  0.0
C783        0.0                    0.0                  0.0
C787        0.0                    0.0                  0.0

See the whole table with table.as_data_frame()

In [62]:
data_test_h2o=h2o.H2OFrame(real_data)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [101]:
f=model.predict(test_data=data_test_h2o)

gbm prediction progress: |████████████████████████████████████████████████| 100%

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C748': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C749': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C750': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C751': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C752': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C753': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C754': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C755': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C756': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C757': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C758': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C759': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C760': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C761': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C762': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C763': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C764': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C765': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C766': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C767': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C768': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C769': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C770': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C771': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C772': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C773': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C774': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C775': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C776': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C777': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C778': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C779': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C780': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C781': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C782': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C783': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C784': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C785': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C786': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C787': substituting in a column of NaN
  warnings.warn(w)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C788': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C789': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C790': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C791': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C792': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C793': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C794': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C795': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C796': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C797': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C798': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C799': substituting in a column of NaN
  warnings.warn(w)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset is missing column 'C800': substituting in a column of NaN
  warnings.warn(w)

In [ ]:
f = f.as_data_frame()

In [67]:
print(f)

       predict        p0        p1
0            0  0.787071  0.212929
1            0  0.797014  0.202986
2            1  0.722325  0.277675
3            1  0.689970  0.310030
4            1  0.755681  0.244319
5            0  0.778511  0.221489
6            1  0.706166  0.293834
7            1  0.639163  0.360837
8            0  0.797014  0.202986
9            1  0.675424  0.324576
10           0  0.789126  0.210874
11           1  0.654949  0.345051
12           1  0.657828  0.342172
13           1  0.654949  0.345051
14           1  0.763654  0.236346
15           0  0.787071  0.212929
16           1  0.755681  0.244319
17           0  0.787071  0.212929
18           0  0.776772  0.223228
19           1  0.757533  0.242467
20           1  0.763654  0.236346
21           0  0.778511  0.221489
22           0  0.778511  0.221489
23           0  0.797014  0.202986
24           0  0.776772  0.223228
25           0  0.797014  0.202986
26           0  0.797014  0.202986
27           0  0.795382  0.204618
28           1  0.654503  0.345497
29           1  0.673215  0.326785
...        ...       ...       ...
15970        0  0.775541  0.224459
15971        0  0.797014  0.202986
15972        1  0.752583  0.247417
15973        0  0.778511  0.221489
15974        1  0.654949  0.345051
15975        0  0.778511  0.221489
15976        0  0.797014  0.202986
15977        1  0.757533  0.242467
15978        0  0.776772  0.223228
15979        1  0.722325  0.277675
15980        1  0.722325  0.277675
15981        1  0.673215  0.326785
15982        0  0.797014  0.202986
15983        1  0.722325  0.277675
15984        1  0.755681  0.244319
15985        1  0.708248  0.291752
15986        1  0.703510  0.296490
15987        1  0.766660  0.233340
15988        1  0.689970  0.310030
15989        1  0.722325  0.277675
15990        1  0.673215  0.326785
15991        1  0.654949  0.345051
15992        0  0.775541  0.224459
15993        0  0.778511  0.221489
15994        0  0.778511  0.221489
15995        1  0.722325  0.277675
15996        1  0.675424  0.324576
15997        0  0.775541  0.224459
15998        0  0.789126  0.210874
15999        1  0.722325  0.277675

[16000 rows x 3 columns]

In [68]:
preds = np.array(f['p1'])

In [69]:
process_for_submission(preds, 'h2o_gbm5')

16000

In [73]:
sk_df = pd.read_csv('gbmsubmission.csv')
h2o_df = pd.read_csv('submission1.csv')

In [75]:
h2o_df

          id    target
0          0  0.217574
1          1  0.076269
2          2  0.197228
3          3  0.423473
4          4  0.268490
5          5  0.085238
6          6  0.545311
7          7  0.756648
8          8  0.052723
9          9  0.261406
10        10  0.083177
11        11  0.485297
12        12  0.446316
13        13  0.380335
14        14  0.255998
15        15  0.117474
16        16  0.336736
17        17  0.067233
18        18  0.176811
19        19  0.360600
20        20  0.160941
21        21  0.140268
22        22  0.104713
23        23  0.080130
24        24  0.172863
25        25  0.055802
26        26  0.060467
27        27  0.304759
28        28  0.785989
29        29  0.422646
...      ...       ...
15970  15970  0.241710
15971  15971  0.161831
15972  15972  0.398412
15973  15973  0.139446
15974  15974  0.672969
15975  15975  0.169915
15976  15976  0.089897
15977  15977  0.220714
15978  15978  0.142659
15979  15979  0.175440
15980  15980  0.401122
15981  15981  0.299952
15982  15982  0.052995
15983  15983  0.538632
15984  15984  0.284542
15985  15985  0.383054
15986  15986  0.289391
15987  15987  0.117334
15988  15988  0.443495
15989  15989  0.177755
15990  15990  0.572818
15991  15991  0.787879
15992  15992  0.228192
15993  15993  0.157210
15994  15994  0.168084
15995  15995  0.174198
15996  15996  0.480840
15997  15997  0.158728
15998  15998  0.125958
15999  15999  0.242473

[16000 rows x 2 columns]

In [77]:
sk_h2o = pd.concat([sk_df, h2o_df]).groupby(level=0).mean()

In [81]:
sk_h2o.to_csv('sk_h2o_gbm_submission.csv', index=None)

In [80]:
sk_h2o

          id    target
0          0  0.205410
1          1  0.076286
2          2  0.197070
3          3  0.418694
4          4  0.270673
5          5  0.086769
6          6  0.555657
7          7  0.738593
8          8  0.051482
9          9  0.271720
10        10  0.084338
11        11  0.483356
12        12  0.446592
13        13  0.397188
14        14  0.262653
15        15  0.113742
16        16  0.327528
17        17  0.066476
18        18  0.180541
19        19  0.355060
20        20  0.167240
21        21  0.136754
22        22  0.102953
23        23  0.082996
24        24  0.174402
25        25  0.052674
26        26  0.057374
27        27  0.299232
28        28  0.786779
29        29  0.416388
...      ...       ...
15970  15970  0.254817
15971  15971  0.159933
15972  15972  0.414193
15973  15973  0.139471
15974  15974  0.644764
15975  15975  0.164093
15976  15976  0.082067
15977  15977  0.225527
15978  15978  0.148203
15979  15979  0.177398
15980  15980  0.389105
15981  15981  0.298803
15982  15982  0.051556
15983  15983  0.514312
15984  15984  0.295314
15985  15985  0.382324
15986  15986  0.288751
15987  15987  0.109155
15988  15988  0.451066
15989  15989  0.179771
15990  15990  0.572396
15991  15991  0.785804
15992  15992  0.229769
15993  15993  0.157413
15994  15994  0.171541
15995  15995  0.172602
15996  15996  0.479392
15997  15997  0.154757
15998  15998  0.117834
15999  15999  0.244315

[16000 rows x 2 columns]